<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simpleway.frst.mapper.BankFlowDetailMapper">
	<resultMap id="BaseResultMap" type="com.simpleway.frst.domain.dto.BankFlowDetail">
		<constructor>
			<idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="core_serial_no" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="transaction_date" jdbcType="DATE" javaType="java.util.Date" />
			<arg column="transaction_time" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="currency" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="out_in" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="forward_flag" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="transction_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
			<arg column="account_balance" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
			<arg column="trade_bank" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="trade_account_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="trade_account_no" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="counter_bank" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="counter_account_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="counter_account_no" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="channel" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="purpose" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="postscript" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="transaction_info" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="transaction_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="transaction_explain" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="business_summary" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, core_serial_no, transaction_date, transaction_time, currency, out_in,
		forward_flag,
		transction_amount, account_balance, trade_bank, trade_account_name, trade_account_no,
		counter_bank, counter_account_name, counter_account_no, channel,
		purpose, remark,
		postscript, transaction_info, transaction_desc, transaction_explain,
		business_summary
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.simpleway.frst.domain.dto.BankFlowDetailExample">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from t_bank_flow_detail
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_bank_flow_detail
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_bank_flow_detail
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.simpleway.frst.domain.dto.BankFlowDetail">
		insert into t_bank_flow_detail (id, core_serial_no, transaction_date,
		transaction_time, currency, out_in,
		forward_flag, transction_amount, account_balance,
		trade_bank, trade_account_name, trade_account_no,
		counter_bank, counter_account_name, counter_account_no,
		channel, purpose, remark,
		postscript, transaction_info, transaction_desc,
		transaction_explain, business_summary)
		values (#{id,jdbcType=BIGINT}, #{coreSerialNo,jdbcType=VARCHAR},
		#{transactionDate,jdbcType=DATE},
		#{transactionTime,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{outIn,jdbcType=VARCHAR},
		#{forwardFlag,jdbcType=VARCHAR}, #{transctionAmount,jdbcType=DECIMAL},
		#{accountBalance,jdbcType=DECIMAL},
		#{tradeBank,jdbcType=VARCHAR}, #{tradeAccountName,jdbcType=VARCHAR},
		#{tradeAccountNo,jdbcType=VARCHAR},
		#{counterBank,jdbcType=VARCHAR}, #{counterAccountName,jdbcType=VARCHAR},
		#{counterAccountNo,jdbcType=VARCHAR},
		#{channel,jdbcType=VARCHAR}, #{purpose,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{postscript,jdbcType=VARCHAR}, #{transactionInfo,jdbcType=VARCHAR},
		#{transactionDesc,jdbcType=VARCHAR},
		#{transactionExplain,jdbcType=VARCHAR},
		#{businessSummary,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.simpleway.frst.domain.dto.BankFlowDetail">
		insert into t_bank_flow_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="coreSerialNo != null">
				core_serial_no,
			</if>
			<if test="transactionDate != null">
				transaction_date,
			</if>
			<if test="transactionTime != null">
				transaction_time,
			</if>
			<if test="currency != null">
				currency,
			</if>
			<if test="outIn != null">
				out_in,
			</if>
			<if test="forwardFlag != null">
				forward_flag,
			</if>
			<if test="transctionAmount != null">
				transction_amount,
			</if>
			<if test="accountBalance != null">
				account_balance,
			</if>
			<if test="tradeBank != null">
				trade_bank,
			</if>
			<if test="tradeAccountName != null">
				trade_account_name,
			</if>
			<if test="tradeAccountNo != null">
				trade_account_no,
			</if>
			<if test="counterBank != null">
				counter_bank,
			</if>
			<if test="counterAccountName != null">
				counter_account_name,
			</if>
			<if test="counterAccountNo != null">
				counter_account_no,
			</if>
			<if test="channel != null">
				channel,
			</if>
			<if test="purpose != null">
				purpose,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="postscript != null">
				postscript,
			</if>
			<if test="transactionInfo != null">
				transaction_info,
			</if>
			<if test="transactionDesc != null">
				transaction_desc,
			</if>
			<if test="transactionExplain != null">
				transaction_explain,
			</if>
			<if test="businessSummary != null">
				business_summary,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="coreSerialNo != null">
				#{coreSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="transactionDate != null">
				#{transactionDate,jdbcType=DATE},
			</if>
			<if test="transactionTime != null">
				#{transactionTime,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				#{currency,jdbcType=VARCHAR},
			</if>
			<if test="outIn != null">
				#{outIn,jdbcType=VARCHAR},
			</if>
			<if test="forwardFlag != null">
				#{forwardFlag,jdbcType=VARCHAR},
			</if>
			<if test="transctionAmount != null">
				#{transctionAmount,jdbcType=DECIMAL},
			</if>
			<if test="accountBalance != null">
				#{accountBalance,jdbcType=DECIMAL},
			</if>
			<if test="tradeBank != null">
				#{tradeBank,jdbcType=VARCHAR},
			</if>
			<if test="tradeAccountName != null">
				#{tradeAccountName,jdbcType=VARCHAR},
			</if>
			<if test="tradeAccountNo != null">
				#{tradeAccountNo,jdbcType=VARCHAR},
			</if>
			<if test="counterBank != null">
				#{counterBank,jdbcType=VARCHAR},
			</if>
			<if test="counterAccountName != null">
				#{counterAccountName,jdbcType=VARCHAR},
			</if>
			<if test="counterAccountNo != null">
				#{counterAccountNo,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				#{channel,jdbcType=VARCHAR},
			</if>
			<if test="purpose != null">
				#{purpose,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="postscript != null">
				#{postscript,jdbcType=VARCHAR},
			</if>
			<if test="transactionInfo != null">
				#{transactionInfo,jdbcType=VARCHAR},
			</if>
			<if test="transactionDesc != null">
				#{transactionDesc,jdbcType=VARCHAR},
			</if>
			<if test="transactionExplain != null">
				#{transactionExplain,jdbcType=VARCHAR},
			</if>
			<if test="businessSummary != null">
				#{businessSummary,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simpleway.frst.domain.dto.BankFlowDetail">
		update t_bank_flow_detail
		<set>
			<if test="coreSerialNo != null">
				core_serial_no = #{coreSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="transactionDate != null">
				transaction_date = #{transactionDate,jdbcType=DATE},
			</if>
			<if test="transactionTime != null">
				transaction_time = #{transactionTime,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="outIn != null">
				out_in = #{outIn,jdbcType=VARCHAR},
			</if>
			<if test="forwardFlag != null">
				forward_flag = #{forwardFlag,jdbcType=VARCHAR},
			</if>
			<if test="transctionAmount != null">
				transction_amount = #{transctionAmount,jdbcType=DECIMAL},
			</if>
			<if test="accountBalance != null">
				account_balance = #{accountBalance,jdbcType=DECIMAL},
			</if>
			<if test="tradeBank != null">
				trade_bank = #{tradeBank,jdbcType=VARCHAR},
			</if>
			<if test="tradeAccountName != null">
				trade_account_name = #{tradeAccountName,jdbcType=VARCHAR},
			</if>
			<if test="tradeAccountNo != null">
				trade_account_no = #{tradeAccountNo,jdbcType=VARCHAR},
			</if>
			<if test="counterBank != null">
				counter_bank = #{counterBank,jdbcType=VARCHAR},
			</if>
			<if test="counterAccountName != null">
				counter_account_name = #{counterAccountName,jdbcType=VARCHAR},
			</if>
			<if test="counterAccountNo != null">
				counter_account_no = #{counterAccountNo,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				channel = #{channel,jdbcType=VARCHAR},
			</if>
			<if test="purpose != null">
				purpose = #{purpose,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="postscript != null">
				postscript = #{postscript,jdbcType=VARCHAR},
			</if>
			<if test="transactionInfo != null">
				transaction_info = #{transactionInfo,jdbcType=VARCHAR},
			</if>
			<if test="transactionDesc != null">
				transaction_desc = #{transactionDesc,jdbcType=VARCHAR},
			</if>
			<if test="transactionExplain != null">
				transaction_explain = #{transactionExplain,jdbcType=VARCHAR},
			</if>
			<if test="businessSummary != null">
				business_summary = #{businessSummary,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simpleway.frst.domain.dto.BankFlowDetail">
		update t_bank_flow_detail
		set core_serial_no = #{coreSerialNo,jdbcType=VARCHAR},
		transaction_date = #{transactionDate,jdbcType=DATE},
		transaction_time = #{transactionTime,jdbcType=VARCHAR},
		currency = #{currency,jdbcType=VARCHAR},
		out_in = #{outIn,jdbcType=VARCHAR},
		forward_flag = #{forwardFlag,jdbcType=VARCHAR},
		transction_amount = #{transctionAmount,jdbcType=DECIMAL},
		account_balance = #{accountBalance,jdbcType=DECIMAL},
		trade_bank = #{tradeBank,jdbcType=VARCHAR},
		trade_account_name = #{tradeAccountName,jdbcType=VARCHAR},
		trade_account_no = #{tradeAccountNo,jdbcType=VARCHAR},
		counter_bank = #{counterBank,jdbcType=VARCHAR},
		counter_account_name = #{counterAccountName,jdbcType=VARCHAR},
		counter_account_no = #{counterAccountNo,jdbcType=VARCHAR},
		channel = #{channel,jdbcType=VARCHAR},
		purpose = #{purpose,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		postscript = #{postscript,jdbcType=VARCHAR},
		transaction_info = #{transactionInfo,jdbcType=VARCHAR},
		transaction_desc = #{transactionDesc,jdbcType=VARCHAR},
		transaction_explain = #{transactionExplain,jdbcType=VARCHAR},
		business_summary = #{businessSummary,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>


	<select id="fundFlow" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_bank_flow_detail where date(transaction_date) =curdate()
	</select>

	<select id="fundAreaAmount" resultType="java.util.HashMap">
		SELECT flow.out_in,area.area_id,
		SUM(flow.transction_amount) transction_amount
		FROM
		t_bank_flow_detail flow,
		t_loan_company_account account,
		t_loan_company_info company,
		sm_area area
		WHERE
		flow.counter_account_no = account.bank_account
		and date(flow.transaction_date) = curdate()
		AND account.company_id = company.company_id
		AND company.area_id = area.area_id 
		and flow.trade_account_no IN (#{tradeAccount})
		GROUP BY
		area.area_id,flow.out_in
	</select>

</mapper>