<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simpleway.frst.mapper.LoanCompanyInfoMapper">
	<resultMap id="BaseResultMap" type="com.simpleway.frst.domain.dto.LoanCompanyInfo">
		<constructor>
			<idArg column="company_id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="company_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="area_id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="registered_capital" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="rela_man" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="rela_mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		company_id, company_name, area_id, registered_capital, rela_man, rela_mobile,
		create_time,
		state
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.simpleway.frst.domain.dto.LoanCompanyInfoExample">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from t_loan_company_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_loan_company_info
		where company_id = #{companyId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_loan_company_info
		where company_id = #{companyId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.simpleway.frst.domain.dto.LoanCompanyInfo">
		insert into t_loan_company_info (company_id, company_name, area_id,
		registered_capital, rela_man, rela_mobile,
		create_time, state)
		values (#{companyId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR},
		#{areaId,jdbcType=BIGINT},
		#{registeredCapital,jdbcType=VARCHAR}, #{relaMan,jdbcType=VARCHAR}, #{relaMobile,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.simpleway.frst.domain.dto.LoanCompanyInfo">
		insert into t_loan_company_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				company_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="registeredCapital != null">
				registered_capital,
			</if>
			<if test="relaMan != null">
				rela_man,
			</if>
			<if test="relaMobile != null">
				rela_mobile,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				#{companyId,jdbcType=BIGINT},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=BIGINT},
			</if>
			<if test="registeredCapital != null">
				#{registeredCapital,jdbcType=VARCHAR},
			</if>
			<if test="relaMan != null">
				#{relaMan,jdbcType=VARCHAR},
			</if>
			<if test="relaMobile != null">
				#{relaMobile,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simpleway.frst.domain.dto.LoanCompanyInfo">
		update t_loan_company_info
		<set>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=BIGINT},
			</if>
			<if test="registeredCapital != null">
				registered_capital = #{registeredCapital,jdbcType=VARCHAR},
			</if>
			<if test="relaMan != null">
				rela_man = #{relaMan,jdbcType=VARCHAR},
			</if>
			<if test="relaMobile != null">
				rela_mobile = #{relaMobile,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
		</set>
		where company_id = #{companyId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simpleway.frst.domain.dto.LoanCompanyInfo">
		update t_loan_company_info
		set company_name = #{companyName,jdbcType=VARCHAR},
		area_id = #{areaId,jdbcType=BIGINT},
		registered_capital = #{registeredCapital,jdbcType=VARCHAR},
		rela_man = #{relaMan,jdbcType=VARCHAR},
		rela_mobile = #{relaMobile,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		state = #{state,jdbcType=INTEGER}
		where company_id = #{companyId,jdbcType=BIGINT}
	</update>

	<select id="registeredCapital" resultType="java.util.HashMap">
		select sum(b.registered_capital)registeredCapital,a.area_name areaName
		from t_loan_company_info b,sm_area a
		where b.area_id=a.area_id
		group by b.area_id
	</select>

</mapper>